{
   "name":"",
   "spec":[
      {
         "max":1024,
         "min":0,
         "type":"text",
         "choices":"",
         "default":"",
         "required":true,
         "variable":"vm_name",
         "new_question":true,
         "question_name":"VM Name",
         "question_description":""
      },
      {
         "max":1024,
         "min":0,
         "type":"multiplechoice",
         "choices":[
            "{{ vcenter_folder }}"
         ],
         "default":"",
         "required":true,
         "variable":"folder",
         "new_question":true,
         "question_name":"Folder",
         "question_description":""
      },
      {
         "max":1024,
         "min":0,
         "type":"multiplechoice",
         "choices":[
            "{{ vcenter_resource_pool }}"
         ],
         "default":"",
         "required":true,
         "variable":"resource_pool",
         "new_question":true,
         "question_name":"Resource pool",
         "question_description":""
      },
      {
         "max":1024,
         "min":0,
         "type":"multiplechoice",
         "choices":[
            "{{ vcenter_datastore }}"
         ],
         "default":"",
         "required":true,
         "variable":"datastore",
         "new_question":true,
         "question_name":"Datastore",
         "question_description":""
      },
      {
         "max":1024,
         "min":0,
         "type":"multiplechoice",
         "choices":[
            "{{ vcenter_source }}"
         ],
         "default":"",
         "required":true,
         "variable":"source",
         "new_question":true,
         "question_name":"Source ",
         "question_description":""
      },
      {
         "max":1024,
         "min":0,
         "type":"multiselect",
         "choices":[
            "MariaDB",
            "Apache"
         ],
         "default":"",
         "required":false,
         "variable":"software",
         "new_question":true,
         "question_name":"Software",
         "question_description":""
      },
      {
         "max":1024,
         "min":0,
         "type":"multiplechoice",
         "choices":[
            "{{ vcenter_library_id }}"
         ],
         "default":"",
         "required":true,
         "variable":"library_id",
         "new_question":false,
         "question_name":"Library",
         "question_description":""
      },
      {
         "max":1024,
         "min":0,
         "type":"multiplechoice",
         "choices":[
            "{{ vcenter_template_id }}"
         ],
         "default":"",
         "required":true,
         "variable":"template_id",
         "new_question":false,
         "question_name":"Template",
         "question_description":""
      },
      {
         "max":1024,
         "min":0,
         "type":"multiplechoice",
         "choices":[
            "{{ vcenter_domain }}"
         ],
         "default":"",
         "required":true,
         "variable":"cluster",
         "new_question":true,
         "question_name":"Cluster",
         "question_description":""
      }
   ],
   "description":""
}
